<!DOCTYPE html>
<html>
<head>
    <title>Vonage ML Transformers demo versions</title>
</head>

<body>
  <table>
    <tr>
      <th>Version</th>
    </tr>
    <tr>
      <td>
        <a href="https://github.com/Vonage/vonage-media-transformers-samples/blob/main/ML-Transformers/BackgroundEnchantments/CHANGELOG.md">
          CHANGELOG
        </a>
      </td>
    </tr>
    <% versions.forEach(function(version, key) { %>
      <tr>
        <td>
          <a href="<%= version %>/index.html"><%= version %></a>
        </td>
      </tr>
      <% }); %>
  </table>

</body>
</html>
